.wraper {
    padding: 0 1rem;
    width: 100%;
    overflow: hidden;
}
.productsWraper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    padding: 1rem 0;
}
.mainWrapper {
     min-height: 30rem;
    min-width: 20rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (min-width: 800px) {
    .productsWraper {
        margin: 0 10rem;
    }
}