.wraper {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 90vh;
}
.tasters {
    display: flex;
    justify-content: space-around;
}
.btn {
    cursor: pointer;
}
.arrow {
    grid-area: arrow;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}
.icon {
    margin-left: 2rem;
}
.field {
    border-top: 1px solid gray;
    width: 100%;
    text-align: center;
    height: 3rem;
    display: grid;
    grid-template: 
    'icon text empty empty arrow';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 6rem;
}