.wraper {
    display: flex;
    justify-content: space-between;
    background-color: rgb(225, 224, 224);
    height: 7rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    width: 100%;
    margin: 1rem 0;
    text-decoration: none;
    color: black;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 1rem;
}
.circle {
    position: absolute;
    right: 1rem;
}