.wraper {
    display: flex;
    margin: 1rem;
}
.btn {
    border-radius: .5rem;
    border-color: black;
    border: 3px solid ;
    padding: 1rem 3rem;
    font-size: larger;
    color: white;
    background: black;
    text-align: center;
    cursor: pointer;
}
.empty {
    display: flex;
    align-items: center;
    justify-content: center;
}