.navigation {
    position: fixed;
    width: 98%;
    height: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 0 1rem;
    padding-top: .3rem; 
    bottom: 0;
}