.header {
    border-bottom: 1px solid gray;
    height: 3rem;
    position: sticky;
    top: 0rem;
    background: white;
    display: flex;
    align-items: center;
    z-index: 99;
    padding-bottom: 1rem;
}
.center {
    border-bottom: 1px solid gray;
    height: 3rem;
    position: sticky;
    top: 0rem;
    background: white;
}
.text {
    margin-left: 5rem;
    font-style: italic;
}
.head {
    font-style: italic;
    text-align: center;

}
.sort {
    position: absolute;
    right: 0;
    margin-right: 1rem;
}