.wrapper {
    position: relative;
    /* transform: translateX(-200px); */
}
.leftArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 32px;
    font-size: 45px;
    color: gray;
    z-index: 1;
    cursor: pointer;
}
.rightArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 32px;
    font-size: 45px;
    color: gray;
    z-index: 1;
    cursor: pointer;
}
.dotWrapper {
    display: flex;
    /* margin-bottom: 1rem; */
    justify-content: center;
}
.dot {
    border-radius: 50%;
    background-color: gray;
    height: 1rem;
    width: 1rem;
    margin-right: 2rem;
    cursor: pointer;
}
.dotActive {
    border-radius: 50%;
    background-color: black;
    height: 1rem;
    width: 1rem;
    margin-right: 2rem;
}